<footer class="space--xs footer-1 text-center-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-inline list--hover">
                    <li> <a href="/about/"><span>About Us</span></a> </li>
                    <li> <a href="/support/"><span>Support</span></a> </li>
                </ul>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li><a href="https://twitter.com/pkMinhas" target="_blank"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                    <li><a href="https://github.com/pkMinhas" target="_blank"><i class="socicon socicon-github icon icon--xs"></i></a></li>
                </ul>
                <a href="/contact/" class="btn type--uppercase"> <span class="btn__text">
            Contact Us
        </span> </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"> <img alt="Image" class="logo" src="/assets/img/logo-transparent-256.png"> <span class="type--fine-print">© <span class="update-year">2019</span> MARCHINGBYTES TECHNOLOGY SOLUTIONS (OPC) PVT. LTD.</span> </div>
        </div>
    </div>
</footer>