<div class="nav-container">
    <div class="via-1548823641329" via="via-1548823641329" vio="MB Header">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="/"> <img class="logo logo-dark" alt="logo" src="/assets/img/logo-triangle.svg"> <img class="logo logo-light" alt="logo" src="/assets/img/logo-triangle.svg"> </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu1" class="bar bar-1 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-2 hidden-xs">
                        <div class="bar__module">
                            <a href="/"> <img class="logo logo-dark" alt="logo" src="/assets/img/logo-triangle.svg"> <img class="logo logo-light" alt="logo" src="/assets/img/logo-triangle.svg"></a>
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li class="dropdown"> <span class="dropdown__trigger">
                                Products</span>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="dropdown__content col-lg-2">
                                                    <ul class="menu-vertical">
                                                        {% for item in site.data.products %}
                                                        <li> <a href="{{item.link}}" target="{{item.target}}">{{item.name}}</a> </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li> <a href="/services/">Services</a> </li>
                                <li> <a href="/blog/">Blog</a> </li>
                            </ul>
                        </div>
                        <div class="bar__module">
                            <a class="btn btn--sm btn--primary type--uppercase" href="/contact/"> <span class="btn__text">
                            Contact Us</span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>